
.head {
	fill-width: true;
	height: @head-height;
	content-align: middle middle;

	background: darken(gray, 30%);
}

match-view {
	layout: vertical;
	content-align: middle;
	
	background: darken(blue, 40%);
	
	.game-list {
		layout: vertical;
		padding: 10;
		spacing: 10;

		background: darken(blue, 30%);
		
		.game-btn {
			align: middle middle;

			&.empty { background: @game-empty-col; }
			&.ready { background: @game-ready-col; }
			&.running { background: @game-running-col; }
			&.complete { background: @game-complete-col; }
			&.failed { background: @game-failed-col; }
		}
	}
}

timeline-debug-view {
	layout: vertical;
	timeline-debug {
		fill-width: true;
		fill-height: true;
		margin: 50;
		margin-bottom: @head-height * 2;
		content-align: middle middle;

		background: darken(gray, 42%);
		overflow: hidden;
	}
	background: darken(purple, 20%);
}

button {
	width: 150;
	height: 40;

	content-align: middle middle;
	
	background :black;
	cursor: button;
	
	&:hover {
		filter: brightness(0.1);
	}
	&:active {
		filter: brightness(0.3);
	}
}