@head-height : 50;

.head {
	fill-width: true;
	height: @head-height;
	content-align: middle middle;

	background: darken(gray, 30%);

}

match-view {
	layout: vertical;
	content-align: middle;
	
	background: darken(blue, 40%);
	
	.game-list {
		layout: vertical;
		padding: 10;
		spacing: 10;

		background: darken(blue, 30%);
		
		.game {
			align: middle middle;
		}
	}
}

replay-view, timeline-debug-view {
	layout : vertical;

	> .head {
		layout: stack;
		> #leave-btn {
			align: right;
			height: @head-height - 20;
			width: @head-height - 20;
			margin: (@head-height - 20) / 2;
		}
	}
}
replay-view { background: darken(green, 20%); }
timeline-debug-view {
	timeline-debug {
		fill-width: true;
		fill-height: true;
		margin: 50;
		margin-bottom: @head-height * 2;
	}
	background: darken(purple, 20%);
}

timeline-debug {
	background: darken(gray, 42%);
	content-align: middle middle;
	overflow: hidden;
}

button {
	width: 150;
	height: 40;

	content-align: middle middle;
	
	background :black;
	cursor: button;
	
	&:hover {
		background: red;//lighten(black, 20%);
	}
	&:active {
		background: yellow;
	}
}